rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /gallery/{docID} {
      allow read: if true;
    }
  }
}